@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    margin :0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    background:  #ffffff;

    font-weight: normal;
}

.container{
    max-width: 1200px;
}
.header-line{
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 8px solid #a292b3;}

header{
 margin: 33px 0 37px;  

}
.menu{
    border:0;
    background: #ffffff;
    padding: 15px 0;
}
.navbar-brand{


}
.navbar-brand img{
    position: relative;
    top:-20px;
    
}
.navbar-default .navbar-text{
color:#ac9ebb;
margin: 0;
padding: 0;
font-size: 39px;
padding-right: 200px;
text-transform: uppercase;
}
.nav>li>a>img{
    padding: 10px;
}
.navbar-default .navbar-nav>li>a {
    color:#818181;
    text-transform: capitalize;
}
.navbar-default .navbar-nav>li.active-link>a{
    border-bottom: 1px solid #ac9ebb;
}
.navbar-default .navbar-nav>li>a:hover{
    border-bottom: 1px solid #ac9ebb;   
}
.carousel-text{
    font-size: 117px;
    text-align: center;
    top:165px;
}
.carousel-postcaption{
    font-size: 31px;
}
.pick-post{
    color: #82699d;
    font-weight: 600;

}
.lorem{
    font-style: italic;
    font-size: 23px;
}
.media-heading{
    font-size: 31px;
    color: #505051;
    font-weight: 600;
}
.my-object{
    margin-right:45px;
}
.col-6{
    max-width: 640px;
    text-align: left;
}